<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sample-apps-osx-10-11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>130C3E1A1CDB74070074996F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130C3E2B1CDB74080074996F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>130C3E361CDB74080074996F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
